* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  background-color: black;
}
main{
  position: relative;
  width: 100%;
  height: 100%;
}


section{
  width: 100%;
  min-height: 100vh;
  background-color: transparent;
  border:solid 5px white;
  position: relative;
  z-index: 2;
  color: white;
}