@import "../../../style.scss";

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@import 'base';
@import 'background';
@import 'sidebar';
@import 'chat';
@import 'responsive';
